@page
@model AboutModel
@{
    ViewData["Title"] = "About me";
}

<div class="text-left">

    <h1 class="text-left">Liam Lim</h1>
    <h3>Software Engineer / C#/ASP.NET Developer</h3>

    <hr />

    <p>
        Residence: North Sydney, SYDNEY, Australia <br />
        Email: liam.lim@gmail.com<br />
        Phone: (+61) 0410 650 827
    </p>

    <hr />

    <p>Skills:</p>

    <ul>
        <li>C# / ASP.NET Core</li>
        <li>Web Apps (Razor Pages / MVC / Blazor)</li>
        <li>Rest API</li>
        <li>Entity Framework Core</li>
        <li>MS SQL Server / SQLite / ModgoDB</li>
        <li>Javascript</li>
        <li>jQuery</li>
        <li>ReactJS</li>
        <li>Angular</li>
        <li>Azure</li>
        <li>AWS</li>
    </ul>

    <p>Certificates:</p>
    <ul>
        <li>AWS Cloud Practitioner. September 2021</li>
        <li>Developing .NET applications for Windows - Visual C# .NET (2005) </li>
        <li>Developing ASP.NET Web Application Using Visual Studio .NET (2005) </li>
    </ul>

    <p>Academic Qualifications:</p>
    <ul>
        <li>Graduate Diploma in Information Technology - University of Technology Sydney (UTS), Dec 2000</li>
        <li>Master's Degree in Engineering, Geomatic Engineering / (GIS) Geographic Information System - University of New South Wales (UNSW), Dec 1999</li>
        <li>Bachelor's Degree in Applied Science, GeoScience / (GIS) Geographic Information System - University of Canberra, July 1998</li>
    </ul>

    <p>Work History:</p>

    <table>
        <thead>
            <tr>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="width:20%">March 2021 -> Current</td>
                <td>
                    Online-Training ASP.NET Core 6, Entity Framework Core, Web Apps (Rager Pages/MVC), Web API, AWS/Azure
                </td>
            </tr>
            <tr>
                <td>July 2015 – Oct 2017</td>
                <td>
                    CIMA Digitec, Sydney (C# / ASP.NET Developer)
                </td>
            </tr>
            <tr>
                <td>Nov 2008 – July 2015</td>
                <td>
                    Computershare Limited, Sydney (C# / Software Developer)
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    - Developing/maintaining various Web applications and APIs using ASP.NET (C#).<br />
                    - Developed and support corporate Web Content Management system in C#/ASP.NET
                </td>
            </tr>
            <tr>
                <td>Jan 2003 – Oct 2008</td>
                <td>Media Monitors Australia Pty Ltd, Sydney (C# Developer)</td>
            </tr>
            <tr>
                <td></td>
                <td>
                    - Developed web-applications, web services/API using C#/ ASP.NET, SQL Server, XML/ XSL. <br />
                    - Designed and developed Media Portal – a comprehensive media-monitoring Internet application. http://www.mediaportal.com.au (currently Isentia) <br />
                    - Developed various Intranet applications in ASP.NET (C#) including PressBilling – Billing system and SalesLogix CRM Tool Customisation
                </td>
            </tr>
            <tr>
                <td>Mar 1999 - Nov 2002</td>
                <td>Navigate Pty. Ltd  (Software Developer / GIS Consultant) </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    - Developed ‘ArcCensus 2001’ and ‘ArcCensus 2001 Enterprise for ArcSDE’ - a comprehensive census-mapping tool for ArcMap using Visual Basic.  
                    Configured ArcSDE service and geodatabase in SQL Server 2000 and Oracle 8i. This application is the first census-mapping tool produced by the private sector in Australia. Released, August 2002. <br /> 
                    - Developed the ‘Risk Hazard Assessment’ for APSC - GIS Part of AURORA launch project using ‘Spatial Analysis’ of ArcInfo 8.  
                    The Spatial Analysis Objects draws the trajectory vectors with input coordinates, a formula-based raster with population density is applied to each trajectory buffer to estimate the total human risk per launch.                                
                </td>
            </tr>
        </tbody>

    </table>

</div>