@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-left">
    <h1 class="text-center">ASP.NET Core 6.0 Web App / AWS / Azure (Demo Project)</h1>
    <hr />

    <p>
        This is a project that demonstrates CRUD Operations with <strong>ASP.NET Core 6.0 Web App MVC</strong> using <strong>Entity Framework Core</strong> and <strong>SqlServer (or SQLite)</strong>.
    </p>

    <p>
        This web app is developed in <strong>Visual Studio 2022</strong> and published in both <strong>AWS and Azure Cloud App Service</strong>.
    </p>

    <p>
        <h5><a asp-area="" asp-page="/Products/Index">Go to the Demo Project (Northern Products)</a></h5>
    </p>

    <p>
        <h5><a target="_blank" href="https://github.com/limliam/NorthernProducts">Source Code (GitHub)</a></h5>
    </p>

   @* <p>
        <h5><a asp-area="" asp-page="/About">Go to About Me (Resume)</a></h5>
    </p>*@

    <p>This demo web app project includes the usages of followings:</p>

    <ul>
        <li>ASP.NET Core 6.0 Web App (C#)</li>
        <li>MVC / Rager Pages</li>
        <li>Publish to Azure App Service</li>
        <li>Entity Framework Core</li>
        <li>Dependency Injection</li>
        <li>DB Connection / Configuration to MS Sql Server (or SQLite) </li>
        <li>Code-First Database Migration / Update</li>
        <li>Scaffolding MVC Controllers / Razor Pages</li>
        <li>Layout Page</li>
        <li>jQuery</li>
        <li>Bootstrap / Font Awesome</li>
        <li>Form Validation</li>
        <li>Form Submission</li>
        <li>CRUD Operations (Create, Read, Update and Delte Records)</li>
    </ul>

    @*<p>How to switch database:</p>
    <ul>
        <li>Switch Database connection string in appsettings.json</li>
        <li>Switch Dependency Injection code in Program.cs</li>
        <li>Delete and create migration files (e.g. Package Manager Console > add-migration Initial)</li>
        <li>Update database (e.g. Package Manager Console > Update-Database) </li>
    </ul>

    <p>Notes for publishing to Azure</p>
    <ul>
        <li>Copy (if newer/Always) the database to Output Directory</li>
        <li>Setting ASPNETCORE_ENVIRONMENT value</li>
    </ul>*@
</div>